@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    font: 1em sans-serif;
    color: #fdfdfd;
    background-color: #333;
  }
  button{
    border:solid 1px #b60003;
    border-radius:6px;
  }
  ul{
    style:none;
  }
  option,select{
    color: black;
    outline: none;
  }
  #AmountNumb{
    border: 1px solid #b60003
  }
  input{
    outline: none;
    padding: 3px;
    color: black;
  }
  hr{
    border: none;
    height: 1px;
    background-color: gray;
  }
  .carousel {
    display: inline-flex;
    overflow-x: hidden;
    /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
    scroll-snap-type: x mandatory;
    /* all below will hide the scrollbar on all browsers.    */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
}